
div {
}

header {
    background-color: transparent;
    color: ;
    height: 60px;
    text-align: center;
}

.sousDivision {
    height: 200px;
    width: 200px;
    background-color: darkseagreen;
    margin: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
}

#englobeur {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}

.sousSousDivision {
    height: 50%;
    width: auto;
    background-color: beige;
    opacity: 0.9;
}

.divEnBas {
    position: absolute;
 bottom: 0;
height: 30%;
background-color: white;
    width: 100%;
    opacity: 0.9;
}

.noPadding {
    padding: 0;
    height: 220px;
    width: 220px;
}

.hoverInfo:hover .divEnBas {
    //background-color: yellowgreen;
    height: 100%;
    opacity:0.7;
    //text-transform: lowercase;

}

.hoverInfo:hover .partieCache {
    display: block;

}

.partieCache {
    display: none;
}

#test010 {
    background: url('../img/cellule3.png') no-repeat center center;
}

#test011 {
    background: url('../img/cellule2.jpg') no-repeat center center;
}

#test012 {
     background: url('../img/cellule.jpg') no-repeat center center;
}

.partieCache2 {
    display: none;
    position: absolute;
 bottom: 0;
height: 30%;
background-color: transparent;
    width: 100%;
     cursor: pointer;

}

.hoverInfo:hover .partieCache2 {
    display: block;
    height: 100%;
    opacity:;

}

.titreDiv {
     position: absolute;
     bottom: 0;
    height: 30%;
    width: 100%;
}

.hoverInfo:hover .titreDiv {
   display: none;

}

hr {
    color: brown;
    padding-bottom: 10;
    border-color: black;
}



#limitaeur {
    position: absolute;
    z-index: 10;
}

canvas {
    position: fixed;
    z-index: 0;
}
