
div {
}

header {
    background-color: dimgrey;
    color: aliceblue;
    height: 60px;
    text-align: center;
}

.sousDivision {
    height: 200px;
    width: 200px;
    background-color: darkseagreen;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

#englobeur {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}

.sousSousDivision {
    height: 50%;
    width: auto;
    background-color: beige;
    opacity: 0.8;
}
