
div {
}

header {
    background-color: dimgrey;
    color: aliceblue;
    height: 60px;
    text-align: center;
}

.sousDivision {
    height: 200px;
    width: 200px;
    background-color: darkseagreen;
    margin: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
}

#englobeur {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}

.sousSousDivision {
    height: 50%;
    width: auto;
    background-color: beige;
    opacity: 0.8;
}

.divEnBas {
    position: absolute;
 bottom: 0;
height: 30%;
background-color: palegreen;
    width: 100%;
    opacity: 0.9;
}

.noPadding {
    padding: 0;
    height: 220px;
    width: 220px;
}

.hoverInfo:hover .divEnBas {
    //background-color: yellowgreen;
    height: 100%;
    opacity: 0.6;

}

.hoverInfo:hover .partieCache {
    display: block;

}

.partieCache {
    display: none;
}

#test010 {
    background: url('../img/cellule3.png') no-repeat center center;
}

#test011 {
    background: url('../img/cellule3.png') no-repeat center center;
}
