<?php header('Content-Type: text/css; charset=UTF-8');
?>#menuh-container {
    position: absolute;
    top: 0em;
    left: 0em;
}

#menuh {
    font-size: small;
    font-family: arial, helvetica, sans-serif;
    width: 100%;
    float: left;
    margin: 1em;
    margin-top: 1em;
}

#menuh a {
    text-align: center;
    display: block;
    white-space: nowrap;
    margin: 0;
}

#menuh a:link,
#menuh a:visited,
#menuh a:active {
    color: white;
    background-color: salmon;
    text-decoration: none;
    padding: 10px;
    height: 2%;
}

#menuh a:hover {
    color: white;
    background-color: khaki;
    text-decoration: none;
}

#menuh ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 10em;
}

#menuh li {
    position: relative;
}

#menuh ul ul {
    position: absolute;
    top: auto;
    right: 0px;
    display: none;
}

#menuh ul ul ul {
    top: 0;
    left: 100%;
}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul {
    display: none;
}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul {
    display: block;
}
