header {
    background-image: url(../img/space1.jpg);
    height: 40vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    color: azure
}

body {
    margin: 0px;
    background-image: url(../img/space3.jpg);
    background-attachment: fixed;
}

#separationDiv {
    height: 30;
    width: 100%;
    background-color: black;
}

#centralisateurDiv {
    padding-left: 15%;
    padding-right: 15%
}

#navListeClasses {
    padding: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#navListeClasses li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6vw;
    padding-top: 15;
    padding-bottom: 15;
    opacity: 0.8;
    border-radius: 1vh;
}

#navListeClasses li:hover {
    opacity: 1;
}

.classeDiv {
    height: auto;
    width: 100%;
    background-color: lightskyblue;
    margin-bottom: 20;
    padding-top: 0.1;
    padding-bottom: 0.1;
    opacity: 0.95;
    border-radius: 5vh;
}

.moduleDiv {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10;
    margin-bottom: 10;
    background-color: white;
    opacity: 0.8;
    border-radius: 1vh;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: black;
}

footer {
    height: 55px;
    text-decoration: none;
    background-color: honeydew;
    opacity: 0.8;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.fr1 {
    background-color: darkblue;
    color: aliceblue;
}

.fr2 {
    background-color: ghostwhite;
    color: black;
}

.fr3 {
    background-color: red;
    color: aliceblue;
}

.chimie {
    background-color: gold;
    color: 1;
}

.physique {
    background-color: dodgerblue;
    color: black;
}

.moduleDiv:hover {
    opacity: 1;
}

.bio {
    background-color: lawngreen;
    color: black;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.imgsquare {
    height: 100;
    width: auto;
    background-color: transparent;
    margin-left: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.textsquare {
    height: auto;
    width: 60%;
    background-color: transparent;
    margin: 1vw;
    margin-top: 0;
    position: relative;
}

.textfull {
    height: 100;
    width: 100%;
    background-color: transparent;
    margin: 1vw;
    position: relative;
    background-image: url(../img/barreBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    font-family: monospace;
}

h5 {
    font-family: monospace;
    font-size: 25;
    margin: 0;
}

h3 {
    font-family: monospace;
    font-size: 200%;
}

#grandDiv {
    height: 100;
}

h2 {
    font-size: 300%;
}

#homeR {
    position: fixed;
    width: 8%;
    top: 2%;
    left: 2%;
}

.info {
    background-color: mediumvioletred;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.titleDiv {
    height: 65;
    font-size: 60;
    padding-left: 22;
}

.moreElement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

@media (max-width: 767px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet)
    */
    #centralisateurDiv {
        padding-left: 0;
        padding-right: 0
    }
    body {
        word-wrap: break-word;
    }
    #homeR {
        display: none;
    }
}
