/*
@import url('../fonts/Signika/Signika-SemiBold.ttf');
@import url('../fonts/Signika/Signika-Bold.ttf');
@import url('../fonts/Signika/Signika-Regular.ttf');
@import url('../fonts/Signika/Signika-Light.ttf');
*/

@import url('https://fonts.googleapis.com/css?family=Signika');


.sousDivision {
    height: 200px;
    width: 200px;
    background-color: darkseagreen;
    margin: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 6px;
    overflow:hidden;
    font-family: 'Signika', sans-serif;
}

#englobeur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}

.sousSousDivision {
    height: 50%;
    width: auto;
    background-color: beige;
    opacity: 0.9;
}

.divEnBas {
    position: absolute;
    bottom: 0;
    height: 30%;
    background-color: white;
    width: 100%;
    opacity: 0.9;
    transition: all 0.2s;
}

.noPadding {
    padding: 0;
    height: 220px;
    width: 220px;
}

.hoverInfo:hover .divEnBas {
    
    height: 100%;
    opacity: 0.9; 
}

.hoverInfo:hover .partieCache {
    display: block;

}

.partieCache {
    transition: all 0.2s;
    display: none;
}



.partieCache2 {
    
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 30%;
    background-color: transparent;
    width: 100%;
    cursor: pointer;

}

.hoverInfo:hover .partieCache2 {
    transition: all 0.4s ;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

.titreDiv {
    transition: all 0.2s ;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
}

.hoverInfo:hover .titreDiv {
    display: none;

}
