.mainDiv{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    
}


.sousDiv{
    display: grid;
    //place-items: center;
    
    border: 15px solid black;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


.display{
    background-color: rgb(205, 50, 50);
    min-width: 50%;

    .displaySelect{
        display: grid;
        place-items: center;
    }
}


.sousDiv::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}


.form {
    background-color: rgb(50, 112, 205);
    min-width: 50%;
    padding: 100px;
    place-items: center;

    p{
        padding-bottom: 20px;
    }
}


.linksContainer {
    //background-color: cadetblue;
    padding: 5px;


    .linkC{
        display: flex;
        flex-direction: row;
        
    }
}


.updateDeleteBTN{
    padding: 10px;
    display: flex;
    justify-content: space-around
}


.addCourseLinkBTN{
    padding: 3px;
}

.selectClassName{
    padding-bottom: 5px;
    width: 100%;
}

.iconButtonFile {
    display: none;
}

.bginput {
    display: flex; 
    //justify-content: center;
    width: 100%;
}

