.mainDiv{
    max-width: 100vw;
    height: 100vh;
    display: flex;
}


.sousDiv{
    display: grid;
    place-items: center;
    border: 15px solid black;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


.display{
    background-color: rgb(205, 50, 50);
    min-width: 50%;
}


.sousDiv::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}


.form {
    background-color: rgb(50, 112, 205);
    min-width: 50%;
    padding: 100px;
}


.linksContainer {
    //background-color: cadetblue;
    padding: 5px;


    .linkC{
        display: flex;
        flex-direction: row;
        
    }
}


