

// DEFAULT SCREEN 
.container {
    z-index: 1000;
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 20px;
    width: 30vw;
    height: 20vh;
    .buttongroup{
        display: none;
    }
}

.container:hover {
    h1{
        display: none;
    }
    .buttongroup{
        display: inline;
    }
}

.extra {
    background-color: hotpink;
    top: 20vh;
    left: 7vw;
}

.math{
    background-color: rgb(105, 255, 223);
    top: 25vh;
    left: 60vw;
}

.science {
    background-color: rgb(105, 175, 255);
    top: 55vh;
    left: 60vw;
}

.buttongroup {
    display: flex;
    justify-content: space-around;
    a , button{
        font-size: 50px;
    }
}

@media screen and (max-width: 1155px) {
    .container {
        min-width: 350px;
    }
}

// TABLET SCREEN
@media screen and (max-width: 768px) {
    .container {
        min-width: 320px;
    }
    .buttongroup {
        display: flex;
        justify-content: space-around;
        a , button{
            font-size: 45px;
        }
    }

}

// PHONE SCREEN 
@media screen and (max-width: 425px) {
    .contcontainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .container {
        position: static;

        width: auto;
        height: auto;
        margin: 10px;
        margin-top: 20px;

        h1{
            display: none;
        }
        .buttongroup{
            display: inline;
        }
    }

    .buttongroup {
        a , button{
            font-size: 40px;
        }
    }
    
}