

// DEFAULT SCREEN 
.container {
    z-index: 1000;
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: 2px solid black;
    width: 30vw;
    height: 20vh;
    .buttongroup{
        display: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .container:hover {
        h1{
            display: none;
        }
        .buttongroup{
            display: inline;
        }  
    }
}


.extra {
    background-color: yellow;
    top: 20vh;
    left: 7vw;
}

.math{
    background-color: hotpink;
    top: 25vh;
    left: 60vw;
}

.science {
    background-color: orange;
    top: 55vh;
    left: 60vw;
}

.buttongroup {
    display: flex;
    justify-content: space-around;
    a , button{
        font-size: 50px;
    }
}

@media screen and (max-width: 1155px) {
    .container {
        min-width: 350px;
    }
}

// TABLET SCREEN
@media screen and (max-width: 925px) {


    .contcontainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding-top: 50px;
    }

    .container {
        position: static;

        width: auto;
        height: auto;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 20px;

        h1{
            display: inline;
        }
        .buttongroup{
            display: inline;
        }


    }

    .container:hover {
        h1{
            display: inline;
        }
        .buttongroup{
            display: inline;
        }  
    }

    .buttongroup {
        a , button{
            font-size: 40px;
        }
    }

}

// PHONE SCREEN 
@media screen and (max-width: 450px) {
    .contcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: space-around;
        width: 100vw;
        height: 100vh;
    }

    .container {
        position: static;

        width: 90%;
        height: auto;
        margin: 10px;
        margin-top: 20px;

        h1{
            display: inline;
        }
        .buttongroup{
            display: none;
        }
    }

    .buttongroup {
        a , button{
            font-size: 40px;
        }
    }
    
}

@media (pointer: coarse) {
    .container {
        h1{
            display: inline;
        }
        .buttongroup{
            display: inline;
        }  
    }
}